{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contactez - Nous</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
  </head>
  <body>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <form  method="post" action="send_data">
                {% csrf_token %}
                <div class="mb-3 fieldWrapper">
                    <label for="nomEtPrenom" class="form-label">Nom et Prenom *</label>
                    <input type="text" name="nom" class="form-control" id="nomEtPrenom" required>
                </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email *</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone *</label>
                    <input type="tel" class="form-control" id="telephone" required>
                  </div>
                  <div class="mb-3">
                    <label for="telephone" class="form-label">Quel est votre niveau d'étude *</label>
                      <select class="form-select" required>
                          <option value="BAC" selected>BAC</option>
                          <option value="LICENCE">LICENCE</option>
                          <option value="MASTER">MASTER</option>
                          <option value="DOCTORAT">DOCTORAT</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="telephone" class="form-label">Centre souhaité *</label>
                      <select class="form-select" required>
                          <option value="Casablanca" selected>Casablanca</option>
                          <option value="Montréal">Montréal</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="telephone" class="form-label">Formation souhaitée *</label>
                      <select class="form-select" required>
                          <option value="LOGISTIQUE ET TRANSPORT" selected>LOGISTIQUE ET TRANSPORT</option>
                          <option value="INFORMATIQUE">INFORMATIQUE</option>
                          <option value="MINE">MINE</option>
                          <option value="COMMERCE">COMMERCE</option>
                      </select>
                  </div>
                  <div class="mb-3">
                        <button class="btn btn-primary btn-block button-style" type="submit">Envoyer mes informations</button>
                  </div>
              </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 image-background">
              <h2 class="text-center text-color">
                REJOIGNEZ <br>
                NOTRE <span class="font-color">FAMILLE</span>
              </h2>
              <img src="{% static "medias/etudiante.png" %}" alt="Affichage image">
          </div>
        </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
